// COLORS
$primary-color: #29283A;
$secondary-color: #5F5EF7;

$primary0-color: #6b6e77;
$secondary0-color: #47494f;

$white-color: #e5e5e5;

$dark-grey: #333333;
$light-grey: #d2d2d2;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
